<div class="center-block" style='width: 800px;'>
  <div id="geolocation" style='width: 800px; height: 400px;'></div>
</div>

<script>
var handler = Gmaps.build('Google');
handler.buildMap({ internal: {id: 'geolocation'}}, function(){
  var markers = handler.addMarkers(<%=raw @gmaps_hash.to_json %>);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});
</script>