html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
    width: 100%;
}

#nav {
    height: 10%;
    position: fixed;
}
#search {
    top: 10%;
    padding-left: 23%;
    position: fixed;
    width: 100%;
}

.search-input {
    color: black;
}

.search-list {
    top: 10%;
    position: fixed;
    height: 90%;
    overflow: scroll;
    width: 23%;
}



.overlay {
    position: absolute;
    width: 100%;
}

.wrapper {
    position: relative;
}






