<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <link rel="stylesheet" href="css/output.css">

    <script src='https://maps.googleapis.com/maps/api/js'></script>
    <script src="js/output.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script type="text/html" id="divs">
    <div class="overlay" ng-controller="searchLstCtrl">
        <nav class="brown lighten-1" role="navigation" id="nav">
            <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Logo</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="#">Navbar Link</a></li>
                </ul>

                <ul id="nav-mobile" class="side-nav" style="left: -250px;">
                    <li><a href="#">Navbar Link</a></li>
                </ul>
                <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            </div>
        </nav>
        <div class="search-list fixed col s3" id="list">
            <ul class="collection">
                <li class="collection-item avatar" ng-repeat="location in locations.data | filter: searcher"
                    ng-style="{'backgroung-color': locations.selectedLocation === location ? 'lightgrey':''}"
                    ng-click="chooseLocation(location)">
                    <i class="material-icons circle">{{location.rate}}</i>
                    <span class="title">{{location.name}}</span>

                    <p>{{location.feedback}}<br>
                        {{location.desc}}
                    </p>

                    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                </li>

            </ul>
        </div>
        <div id="search" class="row">
            <div class="col s10">
                <form class="search-input">
                    <input id="searchInput" class="input-field" type="text" ng-model="search"
                           placeholder="Enter what you need">
                </form>
            </div>
            <div class="col s2">
                <a class='dropdown-button btn-large' href='#' data-activates='dropdown1'>Drop Me!</a>

                <!-- Dropdown Structure -->
                <ul id='dropdown1' class='dropdown-content'>
                    <li><a href="#!">one</a></li>
                    <li><a href="#!">two</a></li>
                    <li class="divider"></li>
                    <li><a href="#!">three</a></li>
                </ul>
            </div>

        </div>
    </div>


</script>
<div id="map" map=""></div>
</body>
</html>
