<%= simple_form_for @restaurant do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.simple_fields_for :location do |location_attributes| %>
    <%= location_attributes.input :country %>
    <%= location_attributes.input :city %>
    <%= location_attributes.input :address %>
  <% end %>
  <%= f.input :url %>
  <%= f.submit %>
<% end %>
