<div class="container">
  <div class="row page-heading">
    <div class="col-md-12">
      <%= link_to 'New restaurant', new_restaurant_path, class: "btn btn-default pull-right"%>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Address</th>
            <th>Action</th>
          </tr>
        </thead>
        <% @restaurants.each do |restaurant| %>
            <tr>
              <td><%= restaurant.name %></td>
              <td><%= restaurant.description %></td>
              <td><%= restaurant.location.full_street_address %></td>
              <td><%= link_to 'Show', restaurant_path(restaurant) %> | <%= link_to 'Edit', edit_restaurant_path(restaurant) %> | <%= link_to 'Delete', restaurant_path(restaurant), method: 'delete' %></td>
            </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
