<div class="center-block" style='width: 800px;'>
  <div id="one_marker" style='width: 800px; height: 400px;' data-latitude="<%= @restaurant.location.latitude %>" data-longitude="<%= @restaurant.location.longitude %>" data-title="<%= @restaurant.name %>"></div>
</div>
