<footer class="footer">
  <small>
    UniqRest
  </small>
  <nav>
    <ul>
      <!-- <li><%= link_to "About",   '#'   %></li>
      <li><%= link_to "Contact", '#' %></li> -->
    </ul>
  </nav>
</footer>